<!-- eslint-disable @angular-eslint/template/mouse-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/alt-text -->
<!-- </footer> -->

<div class="footer-container mt-5">
  <div class="footer-section">
    <ul>
      <li><strong>ShopNest</strong></li>
      <li class="li"><a href="#">About Us</a></li>
      <li class="li"><a href="#">In the News</a></li>
      <li class="li"><a href="#">Career</a></li>
      <li class="li"><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <ul>
      <li><strong>OUR POLICIES</strong></li>
      <li class="li"><a href="#">Terms and Conditions</a></li>
      <li class="li"><a href="#">Privacy Policy</a></li>
      <li class="li"><a href="#">Fees and Payments Policy</a></li>
      <li class="li"><a href="#">Shipping and Delivery Policy</a></li>
    </ul>
  </div>
</div>
<!-- last section -->

<div class="footer">
  <div class="container">
    <div class="container1">
      <img class="footer-logo" src="../../assets/images/ShopNest-Logo.png" />
    </div>
    <div class="app-links">
      <h2>Try ShopNest App Now</h2>
      <a
        href="https://play.google.com/store/apps/ShopNest"
        target="_blank"
        class="app-link"
      >
        <img
          class="pb-1"
          src="../../assets/images/google-play.png"
          alt="Get it on Google Play"
        />
      </a>
      <a
        href="https://apps.apple.com/app/ShopNest"
        target="_blank"
        class="app-link"
      >
        <img
          src="../../assets/images/app-store.png"
          alt="Download on the app store"
        />
      </a>
    </div>

    <div class="social-links">
      <h4>Follow Us On</h4>
      <a
        href="https://www.linkedin.com/in/sunil-hansda-b568611bb/"
        target="_blank"
        class="social-link"
      >
        <img src="../../assets/images/linkedIn.png" alt="LinkedIn" />
      </a>
      <a
        href="https://www.instagram.com/_marvel.22/"
        target="_blank"
        class="social-link"
      >
        <img src="../../assets/images/instagram.png" alt="Instagram" />
      </a>
      <a
        href="https://www.facebook.com/hd.sunil001/"
        target="_blank"
        class="social-link"
      >
        <img src="../../assets/images/facebook.png" alt="Facebook" />
      </a>
      <a
        href="https://twitter.com/SunilHansda01"
        target="_blank"
        class="social-link"
      >
        <img src="../../assets/images/twitter.png" alt="Twitter" />
      </a>
    </div>
  </div>
</div>
<div class="end">
  <p>&copy; 2023 ShopNest. All rights reserved.</p>
</div>
