<div class="container">
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter Your Email</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <div *ngIf="firstFormGroup.get('email').hasError('emailNotExists')">
          Enter a Valid Email.
        </div>
        <div>
          <button  (click)="sendOtp(stepper)" mat-button>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Verify OTP">
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>OTP</mat-label>
          <input matInput formControlName="otp" placeholder="Ex. 12322"
                 required>
        </mat-form-field>
        <div>
          <button mat-button  (click)="verifyOtp(stepper)">Verify</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Reset Password</ng-template>
      <p>Reset Password</p>
      <form [formGroup]="thirdFormGroup">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="****"
                 required>

        </mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password2" placeholder="****"
                 required>
        </mat-form-field>
        <div>
          <button mat-button  (click)="resetPassword()">Password Reset</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
