form{
  padding: 2rem;
  background-color: #b2e5db;
  border-radius: 10px;

}
.container{
  margin: 2rem;
  width: 600px;
  border-radius: 20px;
}

form button{
  background-color: blueviolet;
  margin-left: 2rem;
}
form input{
  border-radius: 10px;
  background-color: transparent;
}
